{%extends 'layouts/home-base.html'%}
{%block title%}COMPANY DASHBOARD {%endblock%}
{%block content%}
<h2>ACCOUNT</h2>
<p>Manage your account from this page</p>

<div>
    <h2>Profile</h2>
    <p>Manage your profile, update your bio and personal information here.</p>
</div>

<div>
    <h2>Security</h2>
    <p>Update ypur password, add 2FA and update your email address here.</p>
</div>

<div>
    <h2>Language</h2>
    <p>Have a language selection. Choose your preferred lingo.</p>
</div>

<div>
    <h2>Handbook</h2>
    <p>New to this application. Use the hand book to get insights on how to navigate your way through this application as well as common goals we wish to achieve as we progress. Do no also hesitate to leave a review on the home page.</p>
</div>

<div>
    <h2>FAQ</h2>
    <p>Need assistance. Why not start with our FAQ and get some insights on common problems encounter by users and how to get around it</p>
</div>

<div>
    <h2>Contact Us</h2>
    <p>Facing issues with any of our software or limitations. PLease do contact us through this link.</p>
</div>
{%endblock%}
