{%extends 'layouts/base.html'%}
{%block title%}COMPANY DASHBOARD {%endblock%}
{%block side-navigation%}
<a href="{%url 'company-dashboard' user.organisation.id%}"><li>Dashboard</li></a>
<a href="{%url 'project-index'%}"><li>Projects</li></a>
<a href="{%url 'accounts-index'%}"><li>Accounts</li></a>
<a href="{%url 'staff-index'%}"><li>Staff</li></a>
{%endblock%}
{%block content%}
<h1>Welcome to {{org.name}}</h1>
<p>est {{org.est|date:'Y'}}</p>
<section>
<div>
    <h2>Details</h2>
    <p>HeadQuaters: {{org.headquaters}}</p>
    <p>Founder: {{org.founder}}</p>
</div>
<div>
    <h2>Progress</h2>
    <p>Expenses: {{org.total_expenses}}</p>
    <p>Income: {{org.total_income}}</p>
    <p>Profit: {{org.profit}}</p>
</div>
</section>
<p>Your organisation has {{org.no_companies}}. Select the Company you want to manage.</p>

<table>
    <thead>
        <th>Company Name</th>
        <th>Starting Capital</th>
        <th>No. Employees</th>
        <th>Net Worth</th>
    </thead>
    <tbody>
        {%for company in org.companies.all%}
        <tr>
            <td><a href="{%url 'company-overview' company.id%}">{{company.company_name}}</a></td>
            <td>{{company.starting_capital}}</td>
            <td>{{company.no_employees}}</td>
            <td>{{company.net_worth}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}