{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAREC | {%block title%}AUTHENTICATE-BASE{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css?ver=3.1.1' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css?ver=3.1.1' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'scss/libs/fontawesome-icons.scss' %}">
    <link rel="stylesheet" href="{% static 'css/eevic.css'%}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    {%include 'layouts/main-nav.html'%}
    <main>
        {% if user.is_authenticated%}
        <h2>You Are Logged in as {{user.first_name}} {{user.last_name}}!</h2>
        <p>Please proceed to the Home Page</p>
        {%else%}
        {%block content%}

        {%endblock%}
        {%endif%}
    </main>
    <footer>
        <h5>&copy 2024 BAREC PVT LTD</h5>
    </footer>
    <script src="{% static 'assets/js/bundle.js?ver=3.1.1' %}"></script>
<script src="{% static 'assets/js/scripts.js?ver=3.1.1' %}"></script>
</body>
</html>