{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAREC | {%block title%}BASE{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css?ver=3.1.1' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css?ver=3.1.1' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'scss/libs/fontawesome-icons.scss' %}">
    <link rel="stylesheet" href="{% static 'css/eevic.css'%}">
</head>
<body>
    <header>
        <h1 class='webapp_name'>BAREC</h1>
        {%if user.is_authenticated%}
        <nav>
            <ul>
                <a href="{%url 'home'%}"><li>HOME</li></a>
                <a href="{%url 'company-dashboard' user.organisation.id%}"><li>COMPANY</li></a>
                <a href="{%url 'sales-overview'%}"><li>SALES</li></a>
                <a href="{%url 'messages-overview'%}"><li>MESSAGE BOARD</li></a>
                <a href="{%url 'contact-company'%}"><li>CONTACT US</li></a>
                <a href="{%url 'logout'%}"><li>LOGOUT</li></a>
                <a href="{%url 'profile-overview'%}"><li>PROFILE</li></a>
            </ul>
        </nav>
        {% endif %}
    </header>
    <section class="side-navigation">
    <nav>
        <ul>
            {%block side-navigation%}
           
            {%endblock%}
        </ul>
    </nav>
    </section>
    
    <main class="main-container">
    {%block content%}

    {%endblock%}
    </main>
    <footer>
        <h5>&copy 2024 BAREC PVT LTD</h5>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'assets/js/bundle.js?ver=3.1.1' %}"></script>
<script src="{% static 'assets/js/scripts.js?ver=3.1.1' %}"></script>

</body>
</html>