<header>
    <h1 class="webapp_name">BAREC</h1>
    <nav>
        <ul>
            <a href="{%url 'home'%}"><li>HOME</li></a>
            {%if user.is_authenticated%}
            {%if user.is_superuser%}<a href="{%url 'organisation-register'%}"><li>REGISTER</li></a>{%endif%}
            {%if not user.is_superuser%}
            <a href="{%url 'organisation-dashboard' user.organisation.id%}"><li>ORGANISATION</li></a>
            <a href="{%url 'sales-overview'%}"><li>TRANSACTIONS</li></a>
            <a href="{%url 'messages-overview'%}"><li>INBOX</li></a>
            <a href="{%url 'contact-company'%}"><li>CONTACT US</li></a>
            {%endif%}
            <a href="{%url 'logout'%}"><li>LOGOUT</li></a>
            <a href="{%url 'profile-overview'%}"><li>PROFILE</li></a>
            
            {%else%}
            <a href="{%url 'login'%}"><li>LOGIN</li></a>
            {%endif%}
        </ul>
    </nav>
</header>