<header>
    <h1 class="webapp_name">BAREC</h1>
    <nav>
        <ul>
            <a href="{%url 'home'%}"><li>HOME</li></a>
            {%if user.is_authenticated%}
            {%if user.is_superuser%}<a href="{%url 'organisation-register'%}"><li>REGISTER</li></a>{%endif%}
            {%if not user.is_superuser%}
            <a href="{%url 'organisation-dashboard' user.organisation.id%}"><li>ORGANISATION</li></a>
            <a href="{%url 'sales-overview'%}"><li>TRANSACTIONS</li></a>
            <a href="{%url 'messages-overview'%}"><li>INBOX</li></a>
            <!-- <a href="{%url 'contact-company'%}"><li>CONTACT US</li></a> -->
            {%endif%}
            <a><li id="logout-button" >LOGOUT</li></a>

            <!-- <a href="{%url 'profile-overview'%}"><li>PROFILE</li></a> -->
            
            {%else%}
            <a href="{%url 'login'%}"><li>LOGIN</li></a>
            {%endif%}
        </ul>
    </nav>
</header>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#logout-button').click(function() {
        if (confirm('Are you sure you want to logout?')) {
            $.ajax({
                type: 'POST',
                url: '{% url "logout" %}',  // Use the name of your logout URL
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'  // Include CSRF token for security
                },
                success: function(response) {
                    window.location.href = '{% url "login" %}';  // Redirect to the login page on success
                },
                error: function(xhr) {
                    console.error('Logout failed:', xhr);
                    alert('Logout failed. Please try again.');
                }
            });
        }
    });
</script>