  
<section class="side-navigation">
    <nav>
        <ul>
            <a href="{%url 'organisation-dashboard' user.organisation.id%}"
            ><li>Dashboard</li></a
          >
          <a href="{%url 'project-index' user.organisation.id%}"><li>Projects</li></a>
          <a href="{%url 'purchases-index' user.organisation.id%}"><li>Accounts</li></a>
          <a href="{%url 'staff-index' user.organisation.id%}"><li>Staff</li></a> 
          <a href="{%url 'organisation-stats' user.organisation.id%}"><li>Statistics</li></a>
        </ul>
    </nav>
</section>

