{%extends 'layouts/base.html'%}
{%block title%}COMPANY DASHBOARD {%endblock%} {%block side-navigation%}
<a href="{%url 'sales-overview'%}"><li>Sales</li></a>
<a href="{%url 'stock-overview'%}"><li>Stock</li></a>
<a href="{%url 'customer-overview'%}"><li>Customers</li></a>
<a href="{%url 'expenses-overview'%}"><li>Expenses</li></a>
{%endblock%}
{%block content%}
<h2 class="text-center">Sales Invoice</h2>
<button onclick="downloadInvoice()" class="btn-primary button-container mb-3 mt-4">Print</button>
<div id="invoice-content">
<div class="nk-block content-block purchase-quote">
    <div>
        <div class="invoice-action">
            <a class="btn btn-icon btn-lg btn-white btn-dim btn-outline-primary" href="html/invoice-print.html" target="_blank"><em class="icon ni ni-printer-fill"></em></a>
        </div><!-- .invoice-actions -->
        <div class="invoice-wrap">
            <div class="invoice-brand text-center">
                <img src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="">
            </div>
            <div class="invoice-head">
                <section class="grid-display content-block">
                <div class="invoice-contact">
                    <div class="invoice-contact-info">
                        <h4 class="title">Sale ID: {{sales.sale_id}}</h4>
                        <ul class="list-plain">
                            <li><span>Sales Rep</span>: <span>{{sales.sales_rep}}</span></li>
                            <li><span>Branch</span>: <span>{{sales.branch}}<br><span>Location</span>: {{sales.branch.location}}</span></li>
                            <li><span>Phone Number</span>: <span>{{sales.branch.branch_phone_number}}</span></li>
                            <li><span>Project</span>: <span>{{sales.project.project_name}}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="invoice-desc">
                    <h4 class="title">Customer</h3>
                    <ul class="list-plain">
                        <li><span>Date</span>: <span>{{sales.date_of_sale|date:"F j, Y"}}</span></li>
                        <li><span>Time</span>: <span>{{sales.date_of_sale|time:"g:i A"}}</span></li>
                        <li><span>Name</span>: <span>{{sales.customer}}</span></li>
                        <li><span>Type of Customer</span>: <span>{{sales.customer.type_of_customer}}</span></li>
                        <li><span>Details</span>: <span>{{sales.sale_details}}</span></li>
                    </ul>
                </div>
            </div><!-- .invoice-head -->
            </section>
            <div class="invoice-bills">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="w-150px">Product ID</th>
                                <th class="w-60">Name</th>
                                <th>Qty</th>
                                <th>Unit Price</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for item in sales.sales_item.all%}
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.product.product_name}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.product.product_price}}</td>
                                <td>{{item.total_amount}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">Subtotal</td>
                                <td>{{sales.sub_total}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">Processing fee</td>
                                <td>{{sales.processing_fee}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">TAX</td>
                                <td>{{sales.tax}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">Grand Total</td>
                                <td>{{sales.grand_total}}</td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="nk-notes ff-italic fs-12px text-soft text-center mt-2"> Invoice was created on a computer and is valid without the signature and seal. </div>
                </div>
            </div><!-- .invoice-bills -->
        </div><!-- .invoice-wrap -->
    </div><!-- .invoice -->
</div>
</div>
<script>
   function downloadInvoice(){
    const content = document.getElementById('invoice-content').innerHTML;
    const styles = Array.from(document.querySelectorAll('link[rel="stylesheet"]'))
    .map(link => link.outerHTML)
    .join('');
    const printWindow = window.open('','_blank');
    printWindow.document.write(`<html><head><title>{{sales.sale_id}}</title>${styles}</head><body>${content}</body></html>`);
    printWindow.document.close();
    printWindow.onload = function() {
    printWindow.focus();
    printWindow.print();
    printWindow.close();
    };
   }
</script>
{%endblock%}