{%extends 'layouts/base.html'%}
{%block title%}COMPANY DASHBOARD {%endblock%} {%block side-navigation%}
<a href="{%url 'sales-overview'%}"><li>Sales</li></a>
<a href="{%url 'stock-overview'%}"><li>Stock</li></a>
<a href="{%url 'customer-overview'%}"><li>Customers</li></a>
<a href="{%url 'expenses-overview'%}"><li>Expenses</li></a>
{%endblock%}
{%block content%}
<h2 class="text-center">Sale ID: {{sales.sale_id}}</h2>
<a href="{%url 'create-sales-item' user.organisation.id %}" class="link-block mt-4"><button class="btn-primary button-container">New Item</button></a>
<div class="card card-bordered card-preview mt-1">
    <table class="table table-orders">
        <thead class="tb-odr-head">
            <tr class="tb-odr-item">
                <th class="tb-odr-info">
                    <span class="tb-odr-id">Customer ID</span>
                  </th>
              <th class="tb-odr-info">
                <span class="tb-odr-id">Date Joined</span>    
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Name</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Type</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Address</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Phone Number</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Email</span>
              </th>
              <th></th>
            </tr>
          </thead>  
      <tbody class="tb-odr-body">
        {%for customer in customer%}
            <tr>
            <td>{{customer.id}}</td>
            <td>{{customer.date_joined}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.type_of_customer}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.phone_number}}</td>
            <td>{{customer.email}}</td>
                <td><a href=""  class="btn btn-sm btn-primary">View</td>
            </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>  
{%endblock%}