{%extends 'layouts/base.html'%}
{%block title%}COMPANY DASHBOARD {%endblock%} {%block side-navigation%}
{%include 'layouts/transactions-sidebar.html'%}{%endblock%}
{%block content%}
<h2 class="text-center">Sale ID: {{sales.sale_id}}</h2>
<a href="{%url 'create-sales-item' user.organisation.id %}" class="link-block mt-4"><button class="btn-primary button-container">New Item</button></a>
<div class="card card-bordered card-preview mt-1">
    <table class="table table-orders">
        <thead class="tb-odr-head">
            <tr class="tb-odr-item">
                <th class="tb-odr-info">
                    <span class="tb-odr-id">ID</span>
                  </th>
              <th class="tb-odr-info">
                <span class="tb-odr-id">Product</span>    
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Quantity</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Discount</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Total</span>
              </th>
              <th></th>
            </tr>
          </thead>  
      <tbody class="tb-odr-body">
        {%for item in sales.sales_item.all%}
            <tr>
            <td>{{item.id}}</td>
            <td>{{item.product}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.discount}}</td>
            <td>{{item.total_amount}}</td>
                <td><a href=""  class="btn btn-sm btn-primary">View</td>
            </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>  
{%endblock%}