{%extends 'layouts/base.html'%}
{%block title%}COMPANY DASHBOARD {%endblock%} {%block side-navigation%}
<a href="{%url 'sales-overview'%}"><li>Sales</li></a>
<a href="{%url 'stock-overview'%}"><li>Stock</li></a>
<a href="{%url 'customer-overview'%}"><li>Customers</li></a>
<a href="{%url 'expenses-overview'%}"><li>Expenses</li></a>
{%endblock%}
{%block content%}
<h1>Customer Overview</h1>
<p>See all of the customers in the company.</p>
<a href="{%url 'create-customer'%}"><button>New Customer</button></a>
<table>
    <thead>
        <th>Customer ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
    </thead>
    <tbody>
        {%for customer in customer%}
        <tr>
            <td>{{customer.customer_id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.type_of_customer}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.phone_number}}</td>
            <td>{{customer.email}}</td>
            <td><a href="{%url 'update-customer' customer.id%}">Update</a></td>
            <td><a href="{%url 'delete-customer' customer.id%}">Delete</a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}