{%extends 'layouts/base.html'%}
{%block title%}COMPANY DASHBOARD {%endblock%} {%block side-navigation%}
<a href="{%url 'sales-overview'%}"><li>Sales</li></a>
<a href="{%url 'stock-overview'%}"><li>Stock</li></a>
<a href="{%url 'customer-overview'%}"><li>Customers</li></a>
<a href="{%url 'expenses-overview'%}"><li>Expenses</li></a>
{%endblock%}
{%block content%}
<div class="card card-bordered auth-form form-grid-container">
    <div class="card-inner card-inner-lg">
      <div class="nk-block-head">
        <div class="nk-block-head-content">
          <h3 class="nk-block-title">New Customer</h3>
          <div class="nk-block-des">
            <p>Add your new customer here!</p>
          </div>
        </div>
      </div>
      <form method="post" class="mt-1">
        <div class="form-group form-layout form-grid">
            {%csrf_token%}
            {{form.as_p}}
      </div>
      <button type="submit" class="btn-primary button-container btn">Create</button>
      </form>
    </div>
  </div>
{%endblock%}