{%extends 'layouts/base.html'%}
{%block title%}COMPANY DASHBOARD {%endblock%} {%block side-navigation%}
<a href="{%url 'company-dashboard'%}"><li>Dashboard</li></a>
<a href="{%url 'project-index'%}"><li>Projects</li></a>
<a href="{%url 'accounts-index'%}"><li>Accounts</li></a>
<a href="{%url 'staff-index'%}"><li>Staff</li></a>
{%endblock%}
{%block content%}
<h1>Projects Dashboard</h1>
<div>
    <h2>Current Projects</h2>
    <p>{{projects.no_projects}}</p>
</div>
<div>
    <h2>Perfomance Ratio</h2>
    <p>{{projects.perfomance_ratio}}%</p>
</div>
<p>Select the desired project to see more and manage it</p>
<a href="{%url 'create-project'%}"><button>New Project</button></a>
<table>
    <thead>
        <th>Date Started</th>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Branch Name</th>
        <th>Project Location</th>
        <th>Staff</th>
        <th>Supervisor</th>
        <th>Net Worth</th>
    </thead>
    <tbody>
        {%for project in projects %}
        <tr>
            <td>{{project.date_started}}</td>
            <td>{{project.project_id}}</td>
            <td><a href="{%url 'project-detailed-view' project.id%}">{{project.project_name}}</a></td>
            <td>{{project.branch_name}}</td>
            <td>{{project.project_location}}</td>
            <td>{{project.no_staff}}</td>
            <td>{{project.project_supervisor}}</td>
            <td>{{project.net_worth}}</td>
        </tr>

        {%endfor%}
    </tbody>
</table>
{%endblock%}