{%extends 'layouts/home-base.html'%}
{%block title%}HOME{%endblock%}
{%block content%} 
<h2 class="text-center nk-block-title">Hello {{user.first_name}}</h2>
<p class="pb-2 nk-block-des col-11 text-center-container">Welcome to our Barec business management app. BAREC is not just an application but a business tool designed to carter for the modern business owner's needs and help keep track of their assets and business events. Plan your business' next venture with accurate business decisions provided by our recording system.</p>
<section class="grid-display mt-4">
<div>
    <h4>Who are we?</h4>
    <p class="text-justify">We as BAREC are a  web based business model which helps the common business personnel track financial transactions, calculate profit or loss, keep stock updated and manage staff and customer information. BAREC stands for Business Automated Recording Exclusive Component.</p>
</div>
<div>
    <h4>What are our services?</h4>
    <p class="text-justify">Features included in this model are business minded and include:
        <ul>
            <li>Automated Profit and Loss Generation</li>
            <li>Point of Sale system</li> 
            <li>Customer record keeping</li>    
            <li>Staff record keeping</li>
            <li>Message Boards</li>
            <li>Recording of all operations and progress evaluation</li> 
        </ul>
    </p>
</div>
<div>
    <h4>Who are the compatible users?</h4>
    <p class="text-justify">Any small to large scale business owners can use this software to keep track of their company progress. This software aids in keeping all business records in one place thus making decision making much easier for indivduals and co-operates with just one glance</p>
</div>
<div>
    <h4>How to contact Us?</h4>
    <p class="text-justify">The following are our contact details:
        <ul>
            <li>Call: +263 78 991 6237</li>
            <li>Other: +230 5724 2344</li>
            <li>Location: Zimbabwe/Mauritius</li>
            <li>Email: denzelkudagrison@gmail.com</li>
        </ul>
    </p>
</div>
</section>
{%endblock%}