{%extends 'layouts/home-base.html'%}
{%block title%}HOME{%endblock%}
{%block content%} 
<h2>Hello {{user.first_name}}</h2>
<p>Welcome to our Business managaed app. It is not just an application but a business tool designed to carter for the modern businessman needs and help him keep track of his or her assets and business events. Plan your business venture with accurate business decisions provided by our recording system</p>
<section>
<div>
    <h3>Who are we?</h3>
    <p>We as BAREC are a  web based business model which helps the common businessman track financial transactions, calculate profit or loss, do stock takes and manage their staff. BAREC stands for Business Automated Recording Exclusive Component.</p>
</div>
<div>
    <h3>What are our services?</h3>
    <p>Features included in this component are business minded and include:
        <ul>
            <li>Automated Profit and Loss Print Outs</li>
            <li>Point of Sale systems</li> 
            <li>Staff management</li>    
            <li>Task distribution</li>
            <li>Notifications and Message Boards</li>
            <li>Collection of all operations and termly evaluation</li> 
        </ul>
    </p>
</div>
<div>
    <h3>Who are the compatible users?</h3>
    <p>Any small to large scale business owners can use this software to better keep track of their company progressions. This software aids in keeping all business recordings in one place thus making decision making much easire for indivduals with just one glance</p>
</div>
<div>
    <h3>How to contact Us?</h3>
    <p>The following are our contact details:
        <ul>
            <li>Call: +263 78 991 6237</li>
            <li>Other: +230 5724 2344</li>
            <li>Location: Zimbabwe/Mauritius</li>
            <li>Email: denzelkudagrison@gmail.com</li>
        </ul>
    </p>
</div>
</section>
{%endblock%}