*{
    scroll-behavior: smooth;
    scrollbar-width:none;
}

.webapp_name{
    width: 10%;
    font-family: "Livvic", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
    margin-top: 5px;
    vertical-align:middle;

}

header{
    width: 100%;
    background: radial-gradient(#00C2FF 0%, #007499 100%);
    height: 55px;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 0 5px;
}

header h1, header nav, header nav ul li{
    display: inline-block;
    padding: 0 10px;
}

header nav ul li:hover{
    color: black;
    font-weight: bolder;
}


header nav{
    position: fixed;
    right: 0;
    margin-top: 15px;
    font-weight: bold;
    
}

.side-navigation{
    position: fixed;
    background: linear-gradient(45deg, #00C2FF 0%, #036788 50%, #00C2FF 100%);
    bottom: 0;
    top: 55.1px;
    width: 140px;
    padding: 5px
}

nav > ul, nav > ul > a> li {
    text-decoration: none;
    color: white;
    list-style: none;
    margin: auto;   
}

main{
    margin-top: 60px ;
    margin-bottom: 75px;
    padding: 15px 25px;
}

.main-container{
    margin-left: 135px;
}

.input-form{
    display: grid;
    grid-template-columns: 50% 50%;
}

.auth-form{
    display: block;
    margin: auto;
    text-align: center;
    border: 2px solid #363636;
    width: fit-content;
    padding: 30px 75px;
    margin-top: 40px;
}

.form-grid{
    display: grid;
    grid-template-columns: 50%  50%;
}

.form-grid-container{
    width: 80%;
}

.form-layout input, .form-layout label, select, textarea{
    display: block;
    width: 90%;
    text-align: left;
    margin: auto;
}


.form-container{
    background-color: ghostwhite;
    padding: 10px;
    width: 80%;
    margin: 25px auto 25px auto;
    border: 1.5px solid grey;
    border-radius: 10px;
    color: grey;
}

.form-container input, .form-container label {
  display: block;
  width: 80%;
  margin: 10px 0px   
}

body{
    background-color: ghostwhite;
}

.card-layout-container{
    display: block;
    margin: auto;
    text-align: center;
    border: 2px solid #363636;
    width: 70%;
    padding: 30px 75px;
    margin-top: 25px;
}

footer{
    background: radial-gradient(#00C2FF 0%, #007499 100%);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 5px 0;

}

.grid-display{
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    gap: 5%
}

.text-center-container{
    display: block;
    margin: auto;
    text-align: center;
    width: 80%;
    
}

.button-container{
    border-radius:5px;

}

.text-right{
    text-align: right;
}

.text-justify{
    text-align: justify;
}

.content-block{
    border: 1.5px solid grey;
    padding: 20px;
    border-radius: 5px;
    font-style: italic;
    font-family: sans-serif;
    
}

.message-container{
    font-weight: 500;
    
}

.font-bold{
    font-weight:lighter;
}

.inline-content{
    display: inline-block;
}

.bg-red-metalic{
    background: linear-gradient(rgb(161, 32, 32), rgb(157, 33, 33), rgb(79, 21, 21));
    color: white;
    border: 2px solid rgb(0, 0, 0)
}

.bg-blue-metalic{
    background: linear-gradient( #00C2FF , #0e9ccc , #003545 );
    color: white;
    border: 2px solid rgb(0, 0, 0)

}

.bg-green-metalic{
    background: linear-gradient(rgb(35, 232, 41), rgb(0, 176, 0), rgb(3, 59, 3));
    color: white;
    border: 2px solid rgb(0, 0, 0)
}

.link-block{
    text-decoration: none;
}

a.link-block{
    text-decoration: none;
}

a.link-block:hover{
    margin: 5px;
    cursor: pointer;
    font-weight: bolder; 
    color: rgb(53, 49, 49)
}
