{%extends 'layouts/base.html'%}
{%block title%}COMPANY DASHBOARD {%endblock%} {%block side-navigation%}
<a href="{%url 'company-dashboard' user.company_name.id%}"><li>Dashboard</li></a>
<a href="{%url 'project-index'%}"><li>Projects</li></a>
<a href="{%url 'accounts-index'%}"><li>Accounts</li></a>
<a href="{%url 'staff-index'%}"><li>Staff</li></a>
{%endblock%}
{%block content%}
<h1>Accounts Brief</h1>
<div>
    <h2>Debits</h2>
    <table>
        <thead>
            <th>Date</th>
            <th>Debitor Name</th>
            <th>Type</th>
            <th>Source</th>
            <th>Amount</th>
            <th>Interest</th>
            <th>Total</th>
        </thead>
        <tbody>
                {%for project in projects.debitors%}
                <tr>
                    <td>{{project.debt_acquisition_date}}</td>
                    <td>{{project.debitor_name}}</td>
                    <td>{{project.type_of_debt}}</td>
                    <td>{{project.debt_source}}</td>
                    <td>{{project.debt_amount}}</td>
                    <td>{{project.interest}}</td>
                    <td>{{project.total_debt}}</td>
                </tr>
                {%endfor%}
        </tbody>
    </table>
</div>
<div>
    <h2>Liabilities</h2>
    <table>
        <thead>
            <th>Date</th>
            <th>Creditor Name</th>
            <th>Type</th>
            <th>Source</th>
            <th>Amount</th>
            <th>Interest</th>
            <th>Total</th>
        </thead>
        <tbody>
                {%for project in projects.liabilities%}
                <tr>
                    <td>{{project.liability_acquisition_date}}</td>
                    <td>{{project.liability_name}}</td>
                    <td>{{project.type_of_liability}}</td>
                    <td>{{project.liability_source}}</td>
                    <td>{{project.liability_amount}}</td>
                    <td>{{project.interest}}</td>
                    <td>{{project.total_liability}}</td>
                </tr>
                {%endfor%}
        </tbody>
    </table>
</div>

{%endblock%}