{%extends 'layouts/base.html'%}
{%block title%}COMPANY DASHBOARD {%endblock%} {%block side-navigation%}
<a href="{%url 'sales-overview'%}"><li>Sales</li></a>
<a href="{%url 'stock-overview'%}"><li>Stock</li></a>
<a href="{%url 'customer-overview'%}"><li>Customers</li></a>
<a href="{%url 'expenses-overview'%}"><li>Expenses</li></a>
{%endblock%}
{%block content%}
<h1>Stock List</h1>
<p>Detailed Branch Stock Details</p>
<div>
<p>Branch Name: {{stock.project.branch_name}}</p>
<p>Project Name: {{stock.project.project_name}}</p>
<p>Location: {{stock.project.project_location}}</p>
<p>Supervisor: {{stock.project.project_supervisor}}</p>
</div>
<a href="{%url 'create-stock' stock.id%}"></a>
<table>
    <thead>
        <th>Product ID</th>
        <th>Name</th>
        <th>Product Description</th>
        <th>Price</th>
        <th>Stock Net Worth</th>
    </thead>
    <tbody>
        {% for stock in stock %}
        <tr>
            <td>{{stock.product_id}}</td>
            <td>{{stock.product_name}}</td>
            <td>{{stock.product_description}}</td>
            <td>{{stock.quantity}}</td>
            <td>{{stock.price}}</td>
            <td>{{stock.branch_total_net_worth}}</td>
            <td><a href="{%url 'update-stock' stock.id%}">Edit</a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{%endblock%}