{%extends 'layouts/base.html'%}
{%block side-navigation%}
{%include 'layouts/organisation-sidebar.html'%}{%endblock%}
{%block content %}
<!-- {#%if user.company_name == company.company_name%} -->
 <div class="text-center mb-4">
    <h1 class="nk-block-title">{{company.company_name}}</h1>
    <p class="nk-block-des">Welcome to your company's dashboard view. Get the brief perfomance and updates about your company here.</p>
 </div>
 <section class="grid-display mt-4">
<div class="content-block bg-blue-metalic">
<div class="text-center">
<h3>Company Info</h3>
<p >The company insights are shown below:</p>
</div>
<div class="grid-display">
<p>Email: {{company.company_email}}</p>
<p>Branches: {{company.no_branches}}</p>
<p>Staff: {{company.no_employees}}</p>
<p>Projects: {{company.no_projects}}</p>
<p>Capital: {{company.starting_capital}}</p>
<p>Net Worth: {{company.net_worth}}</p>
</div>
</div>
<div class="content-block {%if company.total_profit >= 0 %}bg-green-metalic {%else%} bg-red-metalic{%endif%}">
  <div class="text-center">
    <h3>Perfomance</h3>    
    <p>The current cashflow within the company:</p>
  </div>
    <div class="grid-display">
    <p>Assets: {{company.assets_value}}</p>
    <p>Stock Value: {{company.stock_value}}</p>
    <p>Sales: {{company.total_sales}}</p>
    <p>Staff Salaries: {{company.staff_salary}}</p>
    <p>Expenses: {{company.total_expenses}}</p>
    <p>Profit: {{company.total_profit}}</p>
</div>  
</div>
</section>
<div class="mt-4">
    <h2>Branches</h2>  
    <a href="{%url 'create-branch' company.id %}" ><button class="button-container btn-primary mb-2" >Add New</button></a>
    <div class="card card-bordered card-preview mt-2">
        <table class="table table-orders">
          <thead class="tb-odr-head">
            <tr class="tb-odr-item">
              <th class="tb-odr-info">
                <span class="tb-odr-id">Branch ID</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Name</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Supervisor</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Location</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Expenses</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Income</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Profit</span>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody class="tb-odr-body">
            {% for branch in company.branches.all %}
            <tr>
                <td>{{branch.id}}</td>
                <td>{{branch.branch_name}}</td>
                <td>{{branch.branch_supervisor}}</td>
                <td>{{branch.location}}</td>
                <td>{{branch.branch_expenses}}</td>
                <td>{{branch.branch_income}}</td>
                <td>{{branch.branch_profit}}</td>
                <td><a href="{%url 'branch-overview' branch.id %}"  class="btn btn-sm btn-primary">View</td> 
            </tr>
            {% endfor %}
           
          </tbody>
        </table>
      </div>
<!-- {#%else%}
<h1>Notice!!!</h1>
<p>You don't belong to any organisation. Please contact your administrator to sort out this issue.</p>
<h2>Contact us:</h2>
<p>Having system related issues, please contact us:
    <ul>
        <li>Phone Number: +230 5724 2344</li>
        <li>Email: barec@gmail.com</li>
        <li>Location: 1027 Goromonzi Mashonaland East Zimbabwe</li>
    </ul>
</p> -->
<!-- {#%endif%} -->
{%endblock%}