{%extends 'layouts/base.html'%}
{%block side-navigation%}
{%include 'layouts/organisation-sidebar.html'%}
{%endblock%}
{%block content %}
<h2 class="nk-block-title text-center">Welcome to {{org.name}}</h2>
<p class="text-center"><strong><em>{{org.motive}}</em></strong></p>  
  <p class="w-75 text-center-container"><em>"{{org.organisation_description}}"</em></p>

<!-- <div class="text-center-container">
  <p class="text-center-container">{{org.organisation_description}}</p>
</div> -->
<section class="grid-display mt-4 mb-4">
  <div class="content-block bg-blue-metalic">
    <h3 class="text-center">Details</h3>
    <div class="grid-display">
    <p>Founder: {{org.founder}}</p>
    <p>Established: {{org.est}}</p>
    <p>Head Quarters: {{org.headquarters}}</p>
    <p>Email: {{org.organisation_email}}</p>
    <p>Number: {{org.organisation_phone_number}}</p>
    <p>Companies: {{org.no_companies}}</p>
    <p>Tax Percentage: {{org.tax}}%</p>
  </div>
  </div>
  <div class="content-block {%if org.profit >= 0 %}bg-green-metalic {%else%} bg-red-metalic{%endif%}">
    <h3 class="text-center">Perfomance</h3>
    <div class="grid-display">
    <p>Asset Value: {{org.total_assets}}</p>
    <p>Total Stock: {{org.total_stock}}</p>
    <p>Purchases: {{org.purchases_grand_total}}</p>
    <p>Customers: {{org.total_customers}}</p>
    <p>Expenses: {{org.total_expenses}}</p>
    <p>Income: {{org.total_income}}</p>
    <p>Profit: {{org.profit}}</p>
    <p>Cash In Hand: {{org.cash_in_hand}}</p>
    <p>Net Worth: {{org.net_worth}}</p>
  </div>
  </div>
</section>
<p class="text-center mt-4 mb-2">Select the Company you want to manage.</p>
<a href="{%url 'create-company' org.id %}" ><button class="button-container btn-primary mb-2" >Add New</button></a>
<div class="card card-bordered card-preview">
  <table class="table table-orders">
    <thead class="tb-odr-head">
      <tr class="tb-odr-item">
        <th class="tb-odr-info">
          <span class="tb-odr-id">Company ID</span>
        </th>
        <th class="tb-odr-amount">
          <span class="tb-odr-total">Name</span>
        </th>
        <th class="tb-odr-amount">
          <span class="tb-odr-total">Starting Capital</span>
        </th>
        <th class="tb-odr-amount">
          <span class="tb-odr-total">Employees</span>
        </th>
        <th class="tb-odr-amount">
          <span class="tb-odr-total">Net Worth</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody class="tb-odr-body">
      {%for company in org.companies.all%}

      <tr href="">
        <td>{{company.id}}</td>
        <td>
          {{company.company_name}}
        </td>
        <td>{{company.starting_capital}}</td>
        <td>{{company.no_employees}}</td>
        <td>{{company.net_worth}}</td>
        <td><a href="{%url 'company-overview' company.id%}"  class="btn btn-sm btn-primary">View</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{%endblock%}
