{%extends 'layouts/base.html'%}
{%block side-navigation%}
{%include 'layouts/organisation-sidebar.html'%}{%endblock%}
{%block content %}
<section>
    <div>
        <h1>{{organisation.name}} Income Statement</h1>
        <p>For the year ending 31 Dec 2024</p>
    </div>
    <div>
        <div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr><td><strong>Income</strong></td><td></td><td></td></tr>
                        <tr><td>Sales</td><td></td><td>{{organisation.total_sales}}</td></tr>
                        <tr><td><strong><em>Less:</em></strong></td><td></td><td></td></tr>
                        <tr><td>Sales Returns</td><td></td><td>{{organisation.sales_returns}}</td></tr>
                        <tr><td><strong>Net Sales</strong></td><td></td><td>{{organisation.net_sales}}</td></tr>
                        <tr><td><strong>Cost of goods Sold</strong></td></tr>
                        <tr><td>Operating Stock</td></tr>
                        <tr><td><strong><em>Add:</em></strong></td></tr>
                        <tr><td>Purchases</td><td>{{organisation.total_purchases}}</td><td></td></tr>
                        <tr><td>Wages</td></tr>
                        <tr><td>Carriage Inwards</td></tr>
                        <tr><td>Direct Expenses</td></tr>
                        <tr><td><strong><em>Less:</em></strong></td></tr>
                        <tr><td>Closing Stock</td></tr>
                        <tr><td><strong>Net Cost of Goods Sold(COGS)</strong></td></tr>
                        <tr><td><strong>Gross Profit (Net Sales - Cost of Goods Sold)</strong></td></tr>
                        <tr><td>Operating Expenses</td></tr>
                        <tr><td><strong><em>Add:</em></strong></td></tr>
                        <tr><td>Administrative Expenses</td></tr>
                        <tr><td>Finance Expenses</td></tr>
                        <tr><td>Selling Expenses</td></tr>
                        <tr><td><strong>Total Operating Expenses</strong></td></tr>
                        <tr><td><strong>Operating Profit(Gross Profit -Operating Expenses)</strong></td></tr>
                        <tr><td><em>Add: Non-operating Income</em></td></tr>
                        <tr><td><em>Less: Non-operating Expenses</em></td></tr>
                        <tr><td><strong>Net Profit Before Tax</strong></td></tr>
                        <tr><td><em>Less: Tax(Charged on Net Profit Before Tax)</em></td></tr>
                        <tr><td><strong>Net Profit After Tax</strong></td></tr>
                    </tbody>
                </table>
                <div class="nk-notes ff-italic fs-12px text-soft text-center mt-2"> This Statement was created on a computer and is valid without the signature and seal. </div>
            </div>
        </div>
    </div>

</section>
{%endblock%}
