{%extends 'layouts/base.html'%}
{%block side-navigation%}
{%include 'layouts/organisation-sidebar.html'%}{%endblock%}
{%block content %}
<h2 class="nk-block-head text-center">Project Details</h2>
<div class="content-block grid-display mt-4">
    <p>Date Started: {{projects.date_started}}</p>
    <p>Project ID: {{projects.project_id}}</p>
    <p>Project: {{projects.project_name}}</p>
    <P>Project Supervisor: {{projects.project_supervisor}}</P>
    <p>Branch Name: {{projects.branch.branch_name}}</p>
    <p>Address: {{projects.project_location}}</p>
    <p>Staff: {{projects.project_staff}}</p>
    <p>Salary: {{projects.project_staff_salary}}</p>
</div>
<div class="mt-4">
<a href="{%url 'update-project' projects.id%}"><button class="button-container btn-success">Update Project</button></a>
<!-- <a href="{%url 'delete-project' projects.pk%}"><button class="button-container btn-danger">Delete Project</button></a> -->
</div>
</section>
<h2 class="nk-block-title text-center">Staff Details</h2>
<div class="card card-bordered card-preview mt-1">
    <table class="table table-orders">
        <thead class="tb-odr-head">
            <tr class="tb-odr-item">
                <th class="tb-odr-info">
                    <span class="tb-odr-id">Staff ID</span>
                  </th>
              <th class="tb-odr-info">
                <span class="tb-odr-id">Name</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Address</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Department</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Occupation</span>
              </th>
              <th class="tb-odr-amount">
                <span class="tb-odr-total">Monthly Salary</span>
              </th>
              <th></th>
            </tr>
          </thead>  
      <tbody class="tb-odr-body">
        {%for project in projects.staffs.all%}
            <tr>
            <td>{{project.id}}</td>
            <td>{{project.staff_name}}</td>
            <td>{{project.address}}</td>
            <td>{{project.department}}</td>
            <td>{{project.occupation}}</td>
            <td>{{project.monthly_salary}}</td>
            <td><a href="{%url 'staff-detail' project.id%}"  class="btn btn-sm btn-primary">View</td>
            </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

{%endblock%}