{%extends 'layouts/base.html'%}
{%block side-navigation%}
{%include 'layouts/company-sidebar.html'%}
{%endblock%}
{%block content %}
<h2 class="nk-block-title text-center mb-4">Staff Name: {{staff.staff_name}}</h2>
<div class="mt-4">
<a href="{%url 'update-staff' staff.id%}"><button class="btn-primary button-container">Update Staff</button></a>
<a href="{%url 'delete-staff' staff.id%}"><button class="btn-danger button-container">Delete Staff</button></a>
</div>
<section class="grid-display mt-3">
<div class="content-block">
    <h3 class="text-center">Personal Details</h3>
    <div class="mt-3">
    <p>Staff ID: {{staff.staff_id_no}}</p>
    <p>Date of Birth: {{staff.staff_name.D_O_B}}</p>
    <p>ID Number: {{staff.staff_name.ID_Number}}</p>
    <p>Email: {{staff.staff_name.email}}</p>
    <p>Phone Number: {{staff.staff_name.phone_number}}</p>
    <p>Address: {{staff.staff_name.address}}</p>
</div>
</div>
<div class="content-block">
    <h3 class="text-center">Employee Details</h3>
    <div class="mt-3">
    <p>Company Name: {{staff.company.company_name}}</p>
    <p>Staff Branch: {{staff.staff_branch}}</p>
    <p>Department: {{staff.department}}</p>
    <p>Occupation: {{staff.occupation}}</p>
    <p>Project: {{staff.staff_project}}</p>
    <p>Monthly Salary: {{staff.monthly_salary}}</p>
</div>
</div>
</section>
{%endblock%}    

           